.builder-backoffice-buttons{
  min-height: 80vh;
}

.backoffice-button-individual{
  height:300px;
  background-color: #C8DFE9;
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;

}

.backoffice-icon-text{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #354857;
}

.backoffice-icon-text a{
  color: #354857;
}
.backoffice-icon-text a:hover{
  color: #77919d;
}

.backoffice-button-outer-div{
  margin-bottom: 1.5em;
}
.backoffice-three-button-custom{
  margin-left:95px;
}

@media only screen and (max-width: 992px){
  .backoffice-three-button-custom{
    margin-left:0px;
  }
}
