
.dropdown-content li> span{
  color: #354857;
}

span.thumb.active {
  background-color: #354857 !important;
}

input[type=range]::-webkit-slider-thumb {
  background: #354857 !important;
}

span.caret {
  color: #354857 !important;
}
