.darkest-color {
  background-color: #354857 !important;
}

.primary-color {
  background-color: #77919d !important;
}

.secondary-color {
  background-color: #C8DFE9 !important;
}

.light-primary-color {
  background-color: #9D8C77 !important;
}

.darkest-text-color {
  color: #354857 !important;
}

.primary-text-color {
  color: #77919d !important;
}

.secondary-text-color {
  color: #C8DFE9 !important;
}

.white-text-color {
  color: #ffffff !important;
}

.header {
  color: #ffffff;
}

.margin-30 {
  margin: 0 30px;
}

.top-margin {
  margin-top: 30px;
}

.main-padding {
  padding-left: 240px;
}


.link-tag {
  color: black !important;
}

.agenda-view .rbc-toolbar {
    display: none !important;
}

.component-title-box{
  color: #354857;
  background-color: #C8DFE9;
}

.component-title-box h5{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.push-footer-to-bottom{
  min-height: 55.5em;
}

.icon-border {
  border: solid;
  border-color: green;
}

.request-work {
  padding: 1em 2em;
}

.sbsp-overview-file-upload {
border: 1px solid #d0d0d0;
}

.footer-admin{
  margin:0 2.3em;
}
