.darkest-color {
  background-color: #354857 !important;
}

.primary-color {
  background-color: #77919d !important;
}

.secondary-color {
  background-color: #C8DFE9 !important;
}

.light-primary-color {
  background-color: #9D8C77 !important;
}

.dropdown-content li> span{
  color: #354857;
}

span.thumb.active {
  background-color: #354857 !important;
}

input[type=range]::-webkit-slider-thumb {
  background: #354857 !important;
}

.primary-text-color {
  color: #77919d !important;
}

.secondary-text-color {
  color: #C8DFE9 !important;
}

.white-text-color {
  color: #ffffff !important;
}

.header {
  color: #ffffff;
}

.margin-30 {
  margin: 0 30px;
}

.link-tag {
  color: black !important;
}

.agenda-view .rbc-toolbar {
    display: none !important;
}

.component-title-box{
  color: #354857;
  background-color: #C8DFE9;
}
